.idea/
.project
.settings/
.classpath
.factorypath
.gradle/
*.iml
target/
*/.DS_Store
*/src/main/generated
*.tlog
Thumbs.db
**/MANIFEST.MF
**/bin/
**/build/
*/**/maven/
*/**/.tern-project
dependency-reduced-pom.xml