**/*.iml
**/*.jar
**/*.class
**/*.zip
**/generated/
**/ProjectGenerator*/**/xtext-gen/
**/ProjectGenerator*/**/xtend-gen/
**/ProjectGenerator*/**/target/
**/ProjectGenerator*/**/build/
**/bin/
**/out/
**/.metadata/
**/.gradle/
ProjectGenerator*/**/.idea/
