<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated solution -->
      <package
            uri="http://www.example.org/solution"
            class="solution.SolutionPackage"
            genModel="model/solution.genmodel"/>
   </extension>

</plugin>
