/.ProjectGeneratorDescriptionLabelProvider.java._trace
/.ProjectGeneratorLabelProvider.java._trace
/.ProjectGeneratorDescriptionLabelProvider.xtendbin
/.ProjectGeneratorLabelProvider.xtendbin
/ProjectGeneratorDescriptionLabelProvider.java
/ProjectGeneratorLabelProvider.java
