/.SolutionDescriptionLabelProvider.java._trace
/.SolutionDescriptionLabelProvider.xtendbin
/.SolutionLabelProvider.java._trace
/.SolutionLabelProvider.xtendbin
/SolutionDescriptionLabelProvider.java
/SolutionLabelProvider.java
