/.ProjectGeneratorRuntimeModule.java._trace
/.ProjectGeneratorStandaloneSetup.java._trace
/.ProjectGeneratorRuntimeModule.xtendbin
/.ProjectGeneratorStandaloneSetup.xtendbin
/ProjectGeneratorRuntimeModule.java
/ProjectGeneratorStandaloneSetup.java
