/.SolutionRuntimeModule.java._trace
/.SolutionRuntimeModule.xtendbin
/.SolutionStandaloneSetup.java._trace
/.SolutionStandaloneSetup.xtendbin
/SolutionRuntimeModule.java
/SolutionStandaloneSetup.java
